

.center-pills { 
    display: flex;
    justify-content: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.postitem{
    cursor: pointer;
    padding: 7px;
}
.postitem:hover{
    color: #E2E22C;
}

.centerTitle {
    text-align: center;
    font-size: 300%;
    padding: 12px;
}
